M02_replaceFunctions_Change.json
[
    {
        "id": "3d1affcc.efc8a8",
        "type": "inject",
        "z": "42a29d10.4bb4d4",
        "name": "solution4",
        "topic": "",
        "payload": "[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "fc9e5fa3.72a3c8"
            ]
        ]
    },
    {
        "id": "195086e0.a21109",
        "type": "inject",
        "z": "42a29d10.4bb4d4",
        "name": "test1",
        "topic": "",
        "payload": "{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "3baef2a.6b6700e"
            ]
        ]
    },
    {
        "id": "3baef2a.6b6700e",
        "type": "function",
        "z": "42a29d10.4bb4d4",
        "name": "function 1",
        "func": "msg.payload = msg.payload.name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "1a56c2ec.277165"
            ]
        ]
    },
    {
        "id": "1a56c2ec.277165",
        "type": "debug",
        "z": "42a29d10.4bb4d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "42438636.9d2838",
        "type": "inject",
        "z": "42a29d10.4bb4d4",
        "name": "test2",
        "topic": "",
        "payload": "{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "a3c08633.5f016"
            ]
        ]
    },
    {
        "id": "a3c08633.5f016",
        "type": "function",
        "z": "42a29d10.4bb4d4",
        "name": "function 2",
        "func": " var output = msg.payload.name + \" is \" + msg.payload.age + \" years old\";\n msg.payload = output;\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "4b4bfc65.1cbb64"
            ]
        ]
    },
    {
        "id": "4b4bfc65.1cbb64",
        "type": "debug",
        "z": "42a29d10.4bb4d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b7a28d7.d85768",
        "type": "inject",
        "z": "42a29d10.4bb4d4",
        "name": "test3",
        "topic": "",
        "payload": "[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "b5da5b4f.eb7a"
            ]
        ]
    },
    {
        "id": "b5da5b4f.eb7a",
        "type": "function",
        "z": "42a29d10.4bb4d4",
        "name": "function 3",
        "func": "output = {};\nfor (var i of msg.payload) {\n    output[i.name] = \"Age is \" + i.age + \" and mail address is \" + i.email;\n}\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "7df95cbd.3d6d0c"
            ]
        ]
    },
    {
        "id": "7df95cbd.3d6d0c",
        "type": "debug",
        "z": "42a29d10.4bb4d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "1f25fcee.fcc1bb",
        "type": "inject",
        "z": "42a29d10.4bb4d4",
        "name": "test4",
        "topic": "",
        "payload": "[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "4a0d98b.a1f9de8"
            ]
        ]
    },
    {
        "id": "4a0d98b.a1f9de8",
        "type": "function",
        "z": "42a29d10.4bb4d4",
        "name": "function 4",
        "func": "output = \"\";\nfirst = true;\nfor (var i of msg.payload) {\n    if (!first) {\n        output += ', ';\n    } else {\n        first = false;\n    }\n    output += i.name + \" works for \" + i.email.split('@')[1];\n}\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "8c5a3e9e.1827f"
            ]
        ]
    },
    {
        "id": "8c5a3e9e.1827f",
        "type": "debug",
        "z": "42a29d10.4bb4d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "f20faa13.3e5388",
        "type": "inject",
        "z": "42a29d10.4bb4d4",
        "name": "solution1",
        "topic": "",
        "payload": "{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "fe78ca7f.be5b7"
            ]
        ]
    },
    {
        "id": "7a40617b.5679b8",
        "type": "debug",
        "z": "42a29d10.4bb4d4",
        "name": "output1",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "b0c37985.792fd8",
        "type": "inject",
        "z": "42a29d10.4bb4d4",
        "name": "solution2",
        "topic": "",
        "payload": "{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 640,
        "wires": [
            [
                "2ec926a3.d46972"
            ]
        ]
    },
    {
        "id": "2247cf97.bd58e",
        "type": "debug",
        "z": "42a29d10.4bb4d4",
        "name": "output2",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "af123629.be3f9",
        "type": "inject",
        "z": "42a29d10.4bb4d4",
        "name": "solution3",
        "topic": "",
        "payload": "[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 740,
        "wires": [
            [
                "b18ff7c3.f5a84"
            ]
        ]
    },
    {
        "id": "d8824ef2.b1c7f",
        "type": "debug",
        "z": "42a29d10.4bb4d4",
        "name": "output3",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 780,
        "y": 740,
        "wires": []
    },
    {
        "id": "9e34fae5.fff6b8",
        "type": "debug",
        "z": "42a29d10.4bb4d4",
        "name": "output4",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "5531294b.bdb088",
        "type": "comment",
        "z": "42a29d10.4bb4d4",
        "name": "Functions",
        "info": "Example of different outputs from the same JSONata input using javascript functions",
        "x": 100,
        "y": 20,
        "wires": []
    },
    {
        "id": "3ee1057.36d5dfa",
        "type": "comment",
        "z": "42a29d10.4bb4d4",
        "name": "Not Functions",
        "info": "Implement previous scenarios using \"change\" node\n\n",
        "x": 110,
        "y": 480,
        "wires": []
    },
    {
        "id": "fe78ca7f.be5b7",
        "type": "change",
        "z": "42a29d10.4bb4d4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 540,
        "wires": [
            [
                "7a40617b.5679b8"
            ]
        ]
    },
    {
        "id": "2ec926a3.d46972",
        "type": "change",
        "z": "42a29d10.4bb4d4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name & ' is ' & payload.age & ' years old'\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "2247cf97.bd58e"
            ]
        ]
    },
    {
        "id": "b18ff7c3.f5a84",
        "type": "change",
        "z": "42a29d10.4bb4d4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload{\t    name: 'Age is ' & age & ' and mail address is ' & email \t    \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 740,
        "wires": [
            [
                "d8824ef2.b1c7f"
            ]
        ]
    },
    {
        "id": "fc9e5fa3.72a3c8",
        "type": "change",
        "z": "42a29d10.4bb4d4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].name & ' works for ' & \tpayload[0].email.$split('@')[1] & ', ' &\tpayload[1].name & ' works for ' & \tpayload[1].email.$split('@')[1] & ', ' &\tpayload[2].name & ' works for ' & \tpayload[2].email.$split('@')[1] \t\t\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 840,
        "wires": [
            [
                "9e34fae5.fff6b8"
            ]
        ]
    }
]